@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    background-color: pink;
}

video {
    max-width: 100%;
    max-height: 100%;
}